<header class="grid grid-cols-12 gap-x-2 bg-cream">
  <img class="col-span-12 sm:col-span-5 sm:col-start-8 self-center" src="/assets/images/banner-home.png" alt="banner image">
  
  <div class="col-span-10 col-start-2 sm:col-span-6 sm:row-start-1 sm:col-start-2 self-center py-6">
    <h2 class="text-5xl mb-4 sm:mb-8 leading-10 font-medium">My investments</h2>
    <h4 class="text-2.5xl leading-8">Paragraph about your portfolio, what you can see, why it is useful and how it works so they know exactly what it is before they scroll. Paragraph about your portfolio, what you can see, why it is useful and how it works so they know exactly what it is before they scroll.</h4>
  </div>

</header>

